/* Forgot Password Page */
.forgot-password-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    background-color: #f3eded;
    /* background: linear-gradient(135deg, #b2c1f1, #d4e3f1); */
    font-family: 'Poppins', sans-serif;
}

/* Container Box */
.forgot-password-container {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Form Inputs */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Error Message */
.error {
    color: red;
    font-size: 14px;
}

/* Button */
.send-btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: rgb(21, 120, 150);
    color: #fefefe;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease, transform 0.2s;
}

.send-btn:hover {
    background: rgba(21, 120, 150, 0.763);
}
