/* navbar.css */
.navbar {
  background: linear-gradient(to right, #02005bee, #363985);
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fefefe;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* .logo {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 24px;
  font-weight:bold;
} */

.logo {
  font-size: 26px;
  font-family: "Pacifico", cursive;
  color: #fff;
  text-align: center;
  animation: logo 1s ease-in-out infinite alternate;
}

@keyframes logo { /* Now this matches the animation name */
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6a11cb, 
                   0 0 40px #6a11cb, 0 0 50px #6a11cb, 0 0 60px #6a11cb, 0 0 70px #6a11cb;
  }
  to {
      text-shadow: 0 0 20px #fff, 0 0 30px #2575fc, 0 0 40px #2575fc, 
                   0 0 50px #2575fc, 0 0 60px #2575fc, 0 0 70px #2575fc, 0 0 80px #2575fc;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 11px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-item:hover {
  text-decoration: underline;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #4f62ee, #836cf7);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease, transform 0.2s;
}

.signup-button:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #836cf7, #4f62ee);
}
